li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
#sidenav {
    width: 240px;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    position: fixed;
    left: 0;
}

/*nav style*/

header {
    width: 100%;
    z-index: 999;
}
.nav-header {
    background-color: #fff;
    height: 4.5em;
    line-height: 4.5em;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.header-button {
    color: #000;
    font-size: 2em;
    margin-left: 1em;
}

.toolbar {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1);
    background-color: rgb(16,108,200);
    color: rgba(255, 255, 255, 0.87);
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    font-size: 20px;
    min-height: 64px;
    width: 100%;
}

.com-toolbar-tools {
    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}
.com-toolbar-tools > h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}
.container {
    max-width: 1280px;
    margin: 0 4em 0;
    margin-top: 3em;
    width: 90%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
}

/*code style*/

.code-style:before {
    content: attr(lang);
    display: block;
    background: #f13022;
    color: white;
    line-height: 48px;
    padding: 0 16px;
    border-radius: 2px 2px 0 0;
}
.code-style {
    display: block;
    overflow-x: auto;
    background: #cf0202;
    color: white;
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    line-height: 1.45;
    tab-size: 2;
    -webkit-font-smoothing: auto;
    -webkit-text-size-adjust: none;
    border-radius: 2px;
    margin: 0 0 1em;
}

/*content style*/

p {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
    margin: 0.8em 0 1.6em;
}

/*media*/

@media only screen and (min-width: 600px) {
    .containe {
        width: 85%
    }
}
@media only screen and (min-width: 990px) {
    .container {
        width: 70%;
    }
}
